# Retrosheet Baseball Data -- Wrangle Data

**Baseball Notebooks**  
1. Downloaded and unzipped baseball data.
2. Helper functions and their motivation for use.
3. Lahman data was wrangled and persisted.
4. Retrosheet Play by Play data was parsed, collected into 2 DataFrames, and persisted.
5. This notebook.

Wrangle the Retrosheet data in preparation for data analysis.

This notebook is designed to be used with Jupyter Lab and the Table of Contents extension.  
https://github.com/jupyterlab/jupyterlab-toc

## Data Wrangling

Retrosheet Data Wrangling will include:
1. Manipulating player per game data.
2. Manipulating game data.
3. Creating "lookup tables" by web scraping.
4. Creating data dictionaries (aka codebooks) by "scraping" Dr. Turocy's C source code.

Six DataFrames will be created.

Two DataFrames for Data Dictionary Information
1. **player_game_fields:** stats per player per game field descriptions
2. **game_fields:** stats per game field descriptions

Four DataFrames for Data
1. **player_game:** stats per player per game
2. **game:** stats per game
3. **players:** player info
4. **parks:** stadium info

The above dataframes will be persisted as CSV files with Column Types.

## Repeatable Research
All data processing should be documented so that others can repeat the results.  This includes every step from downloading the data through analysis.

### Directories for Data Processing

* ~/data/retrosheet/raw -- event files downloaded from Retrosheet
* ~/data/retrosheet/parsed -- results of running 2 parsers on the event files
* ~/data/retrosheet/df_csv -- collect the parsed files into dataframes and save these to csv
* ~/data/retrosheet/wrangled -- prepare the data for analsyis and save to csv
* ~/data/retrosheet/src -- optional directory to hold parser source code

In [1]:
import pandas as pd
import numpy as np
import os
import re
from pathlib import Path

from IPython.display import HTML, display

In [2]:
# see Baseball Notebook #2
import helper_functions as bb

In [3]:
# create path objects
home = Path.home()
retrosheet = home.joinpath('data/retrosheet')
p_raw = retrosheet.joinpath('raw')
p_wrangled = retrosheet.joinpath('wrangled')

p_parsed = retrosheet.joinpath('parsed')
p_collected = retrosheet.joinpath('collected')
p_src = retrosheet.joinpath('src')

## Retrosheet Data Dictionary Overview
A "data dictionary" is also called a "codebook".

The following is a highlevel overview of the meaning of the field names created by the Retrosheet parsers.

```
Suffix Meaning
CT     count (integer)
ID     identifier
FL     boolean flag
CD     code (enumerated data type)
DT     date
DY     day of week
TM     time

Prefix Meaning
B      batter
P      pitcher
```

In most cases, the abbreviation between the prefix and the suffix is a common baseball abbreviation.  For common baseball abbreviations see:  
http://www.espn.com/gen/editors/mlb/glossary.html

For example, from the above glossary, "SF" stands from sacrifice flies.  This statistic has been recorded since 1955.  The full field names created by the parsers are "B_SF" for how many sacrifice flies by the batter, and "P_SF" for how many sacrifice flies given up by the pitcher.

## Stats per Player per Game: Data Dictionary
This section is optional.  It is helpful to understanding the data.

As of March 2019, I could find no published information on cwdaily.

cwdaily can be run with the '-n' flag to have it output field names, but it is not clear what some of the field names mean.

Luckily, the source code itself has a text description of each field name.  This description takes place within a single, very long, C struct statement.

The C source code will be parsed to retrieve a field name to field description mapping.  It is not necessary to understand the RegEx code for parsing the C struct.

In [4]:
# cd to dir with cwdaily.c
src = retrosheet.joinpath('src')
os.chdir(src)

In [5]:
def parse_c_source(filename, struct='field_data'):
    """Extract field name to field description from parser's C source code"""
    dd = {}
    with open(filename, 'r') as cwdaily:
        # to account for patterns across lines, read entire source code
        source = cwdaily.read()
    
        # get the single (multiline) C statement that has field descriptions
        pattern = r'(static\s+field_struct\s+' + struct + r'.*?;)'
        match = re.search(pattern, source, flags=re.DOTALL | re.MULTILINE)
    
        if match:
            pattern = r'{.*?"(.*?)".*?"(.*?)".*?}'
            for m in re.finditer(pattern, match.group(1), 
                                 flags=re.DOTALL | re.MULTILINE):
                if m:
                    if len(m.group(2).split(':')) == 2:
                        desc = m.group(2).split(':')[1].strip()
                    else:
                        desc = m.group(2).strip()
                    dd[m.group(1).lower()] = desc   
    return dd

In [6]:
player_game_fields = parse_c_source('cwdaily.c')

In [7]:
# here is the explanation of each field, as scraped from the C source code
player_game_fields

{'game_id': 'game id',
 'game_dt': 'date',
 'game_ct': 'game number (0 = no double header)',
 'appear_dt': 'apperance date',
 'team_id': 'team id',
 'player_id': 'player id',
 'b_g': 'games played',
 'b_pa': 'plate appearances',
 'b_ab': 'at bats',
 'b_r': 'runs',
 'b_h': 'hits',
 'b_2b': 'doubles',
 'b_3b': 'triples',
 'b_hr': 'home runs',
 'b_rbi': 'runs batted in',
 'b_bb': 'walks',
 'b_ibb': 'intentional walks',
 'b_so': 'strikeouts',
 'b_gdp': 'grounded into DP',
 'b_hp': 'hit by pitch',
 'b_sh': 'sacrifice hits',
 'b_sf': 'sacrifice flies',
 'b_sb': 'stolen bases',
 'b_cs': 'caught stealing',
 'b_xi': 'reached on interference',
 'p_g': 'games pitched',
 'p_gs': 'games started',
 'p_cg': 'complete games',
 'p_sho': 'shutouts',
 'p_gf': 'games finished',
 'p_w': 'wins',
 'p_l': 'losses',
 'p_sv': 'saves',
 'p_out': 'outs recorded (innings pitched times 3)',
 'p_tbf': 'batters faced',
 'p_ab': 'at bats',
 'p_r': 'runs allowed',
 'p_er': 'earned runs allowed',
 'p_h': 'hits allowed',
 'p_2b': 'doubles allowed',
 'p_3b': 'triples allowed',
 'p_hr': 'home runs allowed',
 'p_bb': 'walks allowed',
 'p_ibb': 'intentional walks allowed',
 'p_so': 'strikeouts',
 'p_gdp': 'grounded into double play',
 'p_hp': 'hit batsmen',
 'p_sh': 'sacrifice hits against',
 'p_sf': 'sacrifice flies against',
 'p_xi': 'reached on interference',
 'p_wp': 'wild pitches',
 'p_bk': 'balks',
 'f_p_g': 'games at P',
 'f_p_out': 'outs recorded at P (innings fielded times 3)',
 'f_p_po': 'putouts at P',
 'f_p_a': 'assists at P',
 'f_p_e': 'errors at P',
 'f_p_dp': 'double plays at P',
 'f_p_tp': 'triple plays at P',
 'f_c_g': 'games at C',
 'f_c_out': 'outs recorded at C (innings fielded times 3)',
 'f_c_po': 'putouts at C',
 'f_c_a': 'assists at C',
 'f_c_e': 'errors at C',
 'f_c_dp': 'double plays at C',
 'f_c_tp': 'triple plays at C',
 'f_c_pb': 'passed balls at C',
 'f_c_xi': "catcher's interference at C",
 'f_1b_g': 'games at 1B',
 'f_1b_out': 'outs recorded at 1B (innings fielded times 3)',
 'f_1b_po': 'putouts at 1B',
 'f_1b_a': 'assists at 1B',
 'f_1b_e': 'errors at 1B',
 'f_1b_dp': 'double plays at 1B',
 'f_1b_tp': 'triple plays at 1B',
 'f_2b_g': 'games at 2B',
 'f_2b_out': 'outs recorded at 2B (innings fielded times 3)',
 'f_2b_po': 'putouts at 2B',
 'f_2b_a': 'assists at 2B',
 'f_2b_e': 'errors at 2B',
 'f_2b_dp': 'double plays at 2B',
 'f_2b_tp': 'triple plays at 2B',
 'f_3b_g': 'games at 3B',
 'f_3b_out': 'outs recorded at 3B (innings fielded times 3)',
 'f_3b_po': 'putouts at 3B',
 'f_3b_a': 'assists at 3B',
 'f_3b_e': 'errors at 3B',
 'f_3b_dp': 'double plays at 3B',
 'f_3b_tp': 'triple plays at 3B',
 'f_ss_g': 'games at SS',
 'f_ss_out': 'outs recorded at SS (innings fielded times 3)',
 'f_ss_po': 'putouts at SS',
 'f_ss_a': 'assists at SS',
 'f_ss_e': 'errors at SS',
 'f_ss_dp': 'double plays at SS',
 'f_ss_tp': 'triple plays at SS',
 'f_lf_g': 'games at LF',
 'f_lf_out': 'outs recorded at LF (innings fielded times 3)',
 'f_lf_po': 'putouts at LF',
 'f_lf_a': 'assists at LF',
 'f_lf_e': 'errors at LF',
 'f_lf_dp': 'double plays at LF',
 'f_lf_tp': 'triple plays at LF',
 'f_cf_g': 'games at CF',
 'f_cf_out': 'outs recorded at CF (innings fielded times 3)',
 'f_cf_po': 'putouts at CF',
 'f_cf_a': 'assists at CF',
 'f_cf_e': 'errors at CF',
 'f_cf_dp': 'double plays at CF',
 'f_cf_tp': 'triple plays at CF',
 'f_rf_g': 'games at RF',
 'f_rf_out': 'outs recorded at RF (innings fielded times 3)',
 'f_rf_po': 'putouts at RF',
 'f_rf_a': 'assists at RF',
 'f_rf_e': 'errors at RF',
 'f_rf_dp': 'double plays at RF',
 'f_rf_tp': 'triple plays at RF'}

### Data Dictionary Notes
In the above, team_id is the team_id of the player.

game_id is:  
```
0:4 Home TEAM_ID  
4:8 YYYYMMDD  
9   Game Count
```

Game Count is:
* 0 for single game
* 1 for 1st game of double header
* 2 for 2nd game of double header

### Persist Stats per Player per Game Data Dictionary Fields

In [8]:
os.chdir(p_wrangled)

# index=[0] is required for dictionary of scalar values
player_game_fields_df = pd.DataFrame(player_game_fields, index=[0])
player_game_fields_df.to_csv('player_game_fields.csv', index=False)

## Stats per Game: Data Dictionary
This section is optional.  It is helpful to understanding the data.

There is a field-name to field-description mapping provided on the following web page:  
http://chadwick.sourceforge.net/doc/cwgame.html

This data could be scraped from the webpage, but as a parser to read C source code to get this mapping was written above, it's simpler just to use it.

Note: the codes for some of the \_CD fields are only specified on the above web page, but the \_CD fields are not being used in this study.

In [9]:
os.chdir(src)
game_reg_fields = parse_c_source('cwgame.c')
game_ext_fields = parse_c_source('cwgame.c', 'ext_field_data')
game_fields = {**game_reg_fields, **game_ext_fields}

In [10]:
# there are 84 regular fields and 95 extended fields
len(game_reg_fields), len(game_ext_fields), len(game_fields)

(84, 95, 179)

In [11]:
game_fields

{'game_id': 'game id',
 'game_dt': 'date',
 'game_ct': 'game number (0 = no double header)',
 'game_dy': 'day of week',
 'start_game_tm': 'start time',
 'dh_fl': 'DH used flag',
 'daynight_park_cd': 'day/night flag',
 'away_team_id': 'visiting team',
 'home_team_id': 'home team',
 'park_id': 'game site',
 'away_start_pit_id': 'vis. starting pitcher',
 'home_start_pit_id': 'home starting pitcher',
 'base4_ump_id': 'home plate umpire',
 'base1_ump_id': 'first base umpire',
 'base2_ump_id': 'second base umpire',
 'base3_ump_id': 'third base umpire',
 'lf_ump_id': 'left field umpire',
 'rf_ump_id': 'right field umpire',
 'attend_park_ct': 'attendance',
 'scorer_record_id': 'PS scorer',
 'translator_record_id': 'translator',
 'inputter_record_id': 'inputter',
 'input_record_ts': 'input time',
 'edit_record_ts': 'edit time',
 'method_record_cd': 'how scored',
 'pitches_record_cd': 'pitches entered?',
 'temp_park_ct': 'temperature',
 'wind_direction_park_cd': 'wind direction',
 'wind_speed_park_ct': 'wind speed',
 'field_park_cd': 'field condition',
 'precip_park_cd': 'precipitation',
 'sky_park_cd': 'sky',
 'minutes_game_ct': 'time of game',
 'inn_ct': 'number of innings',
 'away_score_ct': 'visitor final score',
 'home_score_ct': 'home final score',
 'away_hits_ct': 'visitor hits',
 'home_hits_ct': 'home hits',
 'away_err_ct': 'visitor errors',
 'home_err_ct': 'home errors',
 'away_lob_ct': 'visitor left on base',
 'home_lob_ct': 'home left on base',
 'win_pit_id': 'winning pitcher',
 'lose_pit_id': 'losing pitcher',
 'save_pit_id': 'save for',
 'gwrbi_bat_id': 'GW RBI',
 'away_lineup1_bat_id': 'visitor batter 1',
 'away_lineup1_fld_cd': 'visitor position 1',
 'away_lineup2_bat_id': 'visitor batter 2',
 'away_lineup2_fld_cd': 'visitor position 2',
 'away_lineup3_bat_id': 'visitor batter 3',
 'away_lineup3_fld_cd': 'visitor position 3',
 'away_lineup4_bat_id': 'visitor batter 4',
 'away_lineup4_fld_cd': 'visitor position 4',
 'away_lineup5_bat_id': 'visitor batter 5',
 'away_lineup5_fld_cd': 'visitor position 5',
 'away_lineup6_bat_id': 'visitor batter 6',
 'away_lineup6_fld_cd': 'visitor position 6',
 'away_lineup7_bat_id': 'visitor batter 7',
 'away_lineup7_fld_cd': 'visitor position 7',
 'away_lineup8_bat_id': 'visitor batter 8',
 'away_lineup8_fld_cd': 'visitor position 8',
 'away_lineup9_bat_id': 'visitor batter 9',
 'away_lineup9_fld_cd': 'visitor position 9',
 'home_lineup1_bat_id': 'home batter 1',
 'home_lineup1_fld_cd': 'home position 1',
 'home_lineup2_bat_id': 'home batter 2',
 'home_lineup2_fld_cd': 'home position 2',
 'home_lineup3_bat_id': 'home batter 3',
 'home_lineup3_fld_cd': 'home position 3',
 'home_lineup4_bat_id': 'home batter 4',
 'home_lineup4_fld_cd': 'home position 4',
 'home_lineup5_bat_id': 'home batter 5',
 'home_lineup5_fld_cd': 'home position 5',
 'home_lineup6_bat_id': 'home batter 6',
 'home_lineup6_fld_cd': 'home position 6',
 'home_lineup7_bat_id': 'home batter 7',
 'home_lineup7_fld_cd': 'home position 7',
 'home_lineup8_bat_id': 'home batter 8',
 'home_lineup8_fld_cd': 'home position 8',
 'home_lineup9_bat_id': 'home batter 9',
 'home_lineup9_fld_cd': 'home position 9',
 'away_finish_pit_id': 'visiting finisher (NULL if complete game)',
 'home_finish_pit_id': 'home finisher (NULL if complete game)',
 'away_team_league_id': 'visiting team league',
 'home_team_league_id': 'home team league',
 'away_team_game_ct': 'visiting team game number',
 'home_team_game_ct': 'home team game number',
 'outs_ct': 'length of game in outs',
 'completion_tx': 'information on completion of game',
 'forfeit_tx': 'information on forfeit of game',
 'protest_tx': 'information on protest of game',
 'away_line_tx': 'visiting team linescore',
 'home_line_tx': 'home team linescore',
 'away_ab_ct': 'visiting team AB',
 'away_2b_ct': 'visiting team 2B',
 'away_3b_ct': 'visiting team 3B',
 'away_hr_ct': 'visiting team HR',
 'away_bi_ct': 'visiting team RBI',
 'away_sh_ct': 'visiting team SH',
 'away_sf_ct': 'visiting team SF',
 'away_hp_ct': 'visiting team HP',
 'away_bb_ct': 'visiting team BB',
 'away_ibb_ct': 'visiting team IBB',
 'away_so_ct': 'visiting team SO',
 'away_sb_ct': 'visiting team SB',
 'away_cs_ct': 'visiting team CS',
 'away_gdp_ct': 'visiting team GDP',
 'away_xi_ct': 'visiting team reach on interference',
 'away_pitcher_ct': 'number of pitchers used by visiting team',
 'away_er_ct': 'visiting team individual ER allowed',
 'away_ter_ct': 'visiting team team ER allowed',
 'away_wp_ct': 'visiting team WP',
 'away_bk_ct': 'visiting team BK',
 'away_po_ct': 'visiting team PO',
 'away_a_ct': 'visiting team A',
 'away_pb_ct': 'visiting team PB',
 'away_dp_ct': 'visiting team DP',
 'away_tp_ct': 'visiting team TP',
 'home_ab_ct': 'home team AB',
 'home_2b_ct': 'home team 2B',
 'home_3b_ct': 'home team 3B',
 'home_hr_ct': 'home team HR',
 'home_bi_ct': 'home team RBI',
 'home_sh_ct': 'home team SH',
 'home_sf_ct': 'home team SF',
 'home_hp_ct': 'home team HP',
 'home_bb_ct': 'home team BB',
 'home_ibb_ct': 'home team IBB',
 'home_so_ct': 'home team SO',
 'home_sb_ct': 'home team SB',
 'home_cs_ct': 'home team CS',
 'home_gdp_ct': 'home team GDP',
 'home_xi_ct': 'home team reach on interference',
 'home_pitcher_ct': 'number of pitchers used by home team',
 'home_er_ct': 'home team individual ER allowed',
 'home_ter_ct': 'home team team ER allowed',
 'home_wp_ct': 'home team WP',
 'home_bk_ct': 'home team BK',
 'home_po_ct': 'home team PO',
 'home_a_ct': 'home team A',
 'home_pb_ct': 'home team PB',
 'home_dp_ct': 'home team DP',
 'home_tp_ct': 'home team TP',
 'ump_home_name_tx': 'home plate umpire name',
 'ump_1b_name_tx': 'first base umpire name',
 'ump_2b_name_tx': 'second base umpire name',
 'ump_3b_name_tx': 'third base umpire name',
 'ump_lf_name_tx': 'left field umpire name',
 'ump_rf_name_tx': 'right field umpire name',
 'away_manager_id': 'visitors manager ID',
 'away_manager_name_tx': 'visitors manager name',
 'home_manager_id': 'home manager ID',
 'home_manager_name_tx': 'home manager name',
 'win_pit_name_tx': 'winning pitcher name',
 'lose_pit_name_tx': 'losing pitcher name',
 'save_pit_name_tx': 'save pitcher name',
 'goahead_rbi_id': 'batter with goahead RBI ID',
 'goahead_rbi_name_tx': 'batter with goahead RBI',
 'away_lineup1_bat_name_tx': 'visitor batter 1 name',
 'away_lineup2_bat_name_tx': 'visitor batter 2 name',
 'away_lineup3_bat_name_tx': 'visitor batter 3 name',
 'away_lineup4_bat_name_tx': 'visitor batter 4 name',
 'away_lineup5_bat_name_tx': 'visitor batter 5 name',
 'away_lineup6_bat_name_tx': 'visitor batter 6 name',
 'away_lineup7_bat_name_tx': 'visitor batter 7 name',
 'away_lineup8_bat_name_tx': 'visitor batter 8 name',
 'away_lineup9_bat_name_tx': 'visitor batter 9 name',
 'home_lineup1_bat_name_tx': 'home batter 1 name',
 'home_lineup2_bat_name_tx': 'home batter 2 name',
 'home_lineup3_bat_name_tx': 'home batter 3 name',
 'home_lineup4_bat_name_tx': 'home batter 4 name',
 'home_lineup5_bat_name_tx': 'home batter 5 name',
 'home_lineup6_bat_name_tx': 'home batter 6 name',
 'home_lineup7_bat_name_tx': 'home batter 7 name',
 'home_lineup8_bat_name_tx': 'home batter 8 name',
 'home_lineup9_bat_name_tx': 'home batter 9 name',
 'add_info_tx': 'additional information',
 'acq_info_tx': 'acquisition information'}

### Data Dictionary Note
dh_fl: Designated Hitter Flag, 'T' if DH in use, else 'F'  
daynight_park_cd: 'N' for night, 'D' for day  
gw_rbi_bat_id: Player ID for batter who got Game Winning RBI

### Persist Stats per Game Data Dictionary Fields

In [12]:
os.chdir(p_wrangled)

# index=[0] is required for dictionary of scalar values
game_fields_df = pd.DataFrame(game_fields, index=[0])
game_fields_df.to_csv('game_fields.csv', index=False)

## 1. Wrangle Stats per Player Per Game Data

### Manual Data Verification

For odd data, such as whether or not a the first game of a double header was in one stadium, and the second game was in a different stadium, [Baseball-Reference](https://www.baseball-reference.com) is helpful.

Baseball-reference uses the data from Retrosheet, and presents it in an easy to read form for people. On rare occasions it may incorrectly present the event data, but it is a useful tool.

Baseball-reference does not offer already parsed data for data analysis.

The following method takes a game_id and converts it to a baseball-reference url for researching more about a particular game.

In [64]:
from IPython.display import HTML, display
def game_id_to_url(game_id):
    home = game_id[:3]
    url = 'https://www.baseball-reference.com/boxes/' + home + '/' + game_id + '.shtml'
    display(HTML(f'<a href="{url}">{game_id}</a>'))

In [65]:
# Click on the generated link to get a url for detailed game information.
game_id_to_url('NYA200806271')

As per the above link, the first game of the double header was in Yankee Stadium and the second game, on the same day, was in Shea Stadium.

In [66]:
# another oddity, the public was not allowed to attend
game_id_to_url('BAL201504290')

### Read in Stats per Player per Game Data 
This is the data created by running the cwdaily parser in the previous notebook.

Above, in the data dictionary section, it was seen that there are two date fields, game_dt and appear_dt.  These are strings of the from YYYYMMDD with no game time information.

In [206]:
# read in the parsed player_game data
os.chdir(p_collected)
player_game = bb.from_csv_with_types('player_game.csv.gz')

In [207]:
player_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3549700 entries, 0 to 3549699
Columns: 117 entries, game_id to f_rf_tp
dtypes: object(3), uint32(2), uint8(112)
memory usage: 487.5+ MB

In [208]:
player_game.shape

(3549700, 117)

In [209]:
player_game.head(3)

,game_id,game_dt,game_ct,appear_dt,team_id,player_id,b_g,b_pa,b_ab,b_r,...,f_cf_e,f_cf_dp,f_cf_tp,f_rf_g,f_rf_out,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp
0,BAL195504120,19550412,0,19550412,BOS,goodb101,1,5,5,1,...,0,0,0,0,0,0,0,0,0,0
1,BAL195504120,19550412,0,19550412,BOS,joose101,1,5,4,0,...,0,0,0,0,0,0,0,0,0,0
2,BAL195504120,19550412,0,19550412,BOS,throf101,1,5,5,1,...,0,0,0,0,0,0,0,0,0,0

### Remove Duplicate Column

In [210]:
(player_game['game_dt'] == player_game['appear_dt']).all()

True

In [211]:
player_game = player_game.drop('appear_dt', axis=1)

In [212]:
# the primary key is (game_id, PLAYER_ID), verify no dups
dups = player_game.duplicated(subset=['game_id', 'player_id'], keep=False)
player_game[dups]

,game_id,game_dt,game_ct,team_id,player_id,b_g,b_pa,b_ab,b_r,b_h,...,f_cf_e,f_cf_dp,f_cf_tp,f_rf_g,f_rf_out,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp
3418636,BOS201708250,20170825,0,BOS,younc004,1,3,3,0,1,...,0,0,0,0,0,0,0,0,0,0
3418638,BOS201708250,20170825,0,BOS,younc004,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [213]:
# check this game manually by clicking on the generated link
dup_id = player_game.loc[dups, 'game_id'].values[0]
game_id_to_url(dup_id)

### Data Correction

Checking the box score via the above link, shows 2 entries for Young for the same game, one as a pinch-hitter and one as the designated-hitter.  It would appear that both entries are correct and that the data should be summed.

In [214]:
# get the index labels of the duplicated rows
idx1, idx2 = player_game[dups].index.values
idx1, idx2

(3418636, 3418638)

In [215]:
# identifier columns
id_columns = player_game.columns[:5]
id_columns

Index(['game_id', 'game_dt', 'game_ct', 'team_id', 'player_id'], dtype='object')

In [216]:
# stat columns
stat_columns = player_game.columns[5:]
stat_columns

Index(['b_g', 'b_pa', 'b_ab', 'b_r', 'b_h', 'b_2b', 'b_3b', 'b_hr', 'b_rbi',
       'b_bb',
       ...
       'f_cf_e', 'f_cf_dp', 'f_cf_tp', 'f_rf_g', 'f_rf_out', 'f_rf_po',
       'f_rf_a', 'f_rf_e', 'f_rf_dp', 'f_rf_tp'],
      dtype='object', length=111)

In [217]:
# id columns match (as per df.duplicated() above)
player_game.loc[[idx1,idx2], id_columns]

              game_id   game_dt  game_ct team_id player_id
3418636  BOS201708250  20170825        0     BOS  younc004
3418638  BOS201708250  20170825        0     BOS  younc004

In [218]:
# game data
player_game.loc[[idx1,idx2], stat_columns]

,b_g,b_pa,b_ab,b_r,b_h,b_2b,b_3b,b_hr,b_rbi,b_bb,...,f_cf_e,f_cf_dp,f_cf_tp,f_rf_g,f_rf_out,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp
3418636,1,3,3,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3418638,1,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [219]:
# add stats for the two rows
player_game.loc[idx1, stat_columns] += player_game.loc[idx2, stat_columns]

# remove duplicate row
player_game = player_game.drop(idx2)

In [220]:
# the primary key is (GAME_ID, PLAYER_ID), verify no dups
bb.is_unique(player_game, ['game_id', 'player_id'])

True

### Fielding Data

There is too much detail here.  All that is necessary is the total number of putouts, assists, and errors per game, per player.

In [221]:
import re
cols = player_game.columns.copy()

# get all the field columns
f_cols = [col for col in cols if col.startswith('f_')]
f_cols

['f_p_g',
 'f_p_out',
 'f_p_po',
 'f_p_a',
 'f_p_e',
 'f_p_dp',
 'f_p_tp',
 'f_c_g',
 'f_c_out',
 'f_c_po',
 'f_c_a',
 'f_c_e',
 'f_c_dp',
 'f_c_tp',
 'f_c_pb',
 'f_c_xi',
 'f_1b_g',
 'f_1b_out',
 'f_1b_po',
 'f_1b_a',
 'f_1b_e',
 'f_1b_dp',
 'f_1b_tp',
 'f_2b_g',
 'f_2b_out',
 'f_2b_po',
 'f_2b_a',
 'f_2b_e',
 'f_2b_dp',
 'f_2b_tp',
 'f_3b_g',
 'f_3b_out',
 'f_3b_po',
 'f_3b_a',
 'f_3b_e',
 'f_3b_dp',
 'f_3b_tp',
 'f_ss_g',
 'f_ss_out',
 'f_ss_po',
 'f_ss_a',
 'f_ss_e',
 'f_ss_dp',
 'f_ss_tp',
 'f_lf_g',
 'f_lf_out',
 'f_lf_po',
 'f_lf_a',
 'f_lf_e',
 'f_lf_dp',
 'f_lf_tp',
 'f_cf_g',
 'f_cf_out',
 'f_cf_po',
 'f_cf_a',
 'f_cf_e',
 'f_cf_dp',
 'f_cf_tp',
 'f_rf_g',
 'f_rf_out',
 'f_rf_po',
 'f_rf_a',
 'f_rf_e',
 'f_rf_dp',
 'f_rf_tp']

In [222]:
cols = player_game.columns.copy()

# get all the put out columns
po_cols = [col for col in cols if re.match(r'^f_.*po$', col)]
po_cols

['f_p_po',
 'f_c_po',
 'f_1b_po',
 'f_2b_po',
 'f_3b_po',
 'f_ss_po',
 'f_lf_po',
 'f_cf_po',
 'f_rf_po']

In [223]:
# sum the 9 put out columns, column by column (much faster than using apply on each row)
cols = po_cols.copy()

po = player_game[cols.pop()].copy()
while len(cols):
    po += player_game[cols.pop()]

In [224]:
cols = player_game.columns.copy()

# get all the assist columns
a_cols = [col for col in cols if re.match(r'^f_.*a$', col)]
a_cols

['f_p_a',
 'f_c_a',
 'f_1b_a',
 'f_2b_a',
 'f_3b_a',
 'f_ss_a',
 'f_lf_a',
 'f_cf_a',
 'f_rf_a']

In [225]:
# sum the 9 assist columns, column by column (much faster than using apply on each row)
cols = a_cols.copy()

a = player_game[cols.pop()].copy()
while len(cols):
    a += player_game[cols.pop()]

In [226]:
cols = player_game.columns.copy()

# get all the error columns
e_cols = [col for col in cols if re.match(r'^f_.*e$', col)]
e_cols

['f_p_e',
 'f_c_e',
 'f_1b_e',
 'f_2b_e',
 'f_3b_e',
 'f_ss_e',
 'f_lf_e',
 'f_cf_e',
 'f_rf_e']

In [227]:
# sum the 9 error columns, column by column (much faster than using apply on each row)
cols = e_cols.copy()

e = player_game[cols.pop()].copy()
while len(cols):
    e += player_game[cols.pop()]

In [228]:
# add the columns to player_game
player_game = player_game.assign(f_po=po)
player_game = player_game.assign(f_a=a)
player_game = player_game.assign(f_e=e)

# remove all the other field columns
player_game = player_game.drop(f_cols, axis = 1)

In [229]:
player_game.columns

Index(['game_id', 'game_dt', 'game_ct', 'team_id', 'player_id', 'b_g', 'b_pa',
       'b_ab', 'b_r', 'b_h', 'b_2b', 'b_3b', 'b_hr', 'b_rbi', 'b_bb', 'b_ibb',
       'b_so', 'b_gdp', 'b_hp', 'b_sh', 'b_sf', 'b_sb', 'b_cs', 'b_xi', 'p_g',
       'p_gs', 'p_cg', 'p_sho', 'p_gf', 'p_w', 'p_l', 'p_sv', 'p_out', 'p_tbf',
       'p_ab', 'p_r', 'p_er', 'p_h', 'p_2b', 'p_3b', 'p_hr', 'p_bb', 'p_ibb',
       'p_so', 'p_gdp', 'p_hp', 'p_sh', 'p_sf', 'p_xi', 'p_wp', 'p_bk', 'f_po',
       'f_a', 'f_e'],
      dtype='object')

### Add Lahman player_id
This will make joins to the Lahman data easier.

In [230]:
# get the People data for Lahman player_id
home = Path.home()
lahman = home.joinpath('data/lahman')
p_lahman_wrangled = lahman.joinpath('wrangled')

os.chdir(p_lahman_wrangled)
people = bb.from_csv_with_types('people.csv')

In [231]:
# add player_id from Lahman people
player_game = pd.merge(player_game, people[['player_id','retro_id']], 
                        left_on = 'player_id', right_on = 'retro_id',
                        suffixes=['_retrosheet', '_lahman'])
player_game.columns

Index(['game_id', 'game_dt', 'game_ct', 'team_id', 'player_id_retrosheet',
       'b_g', 'b_pa', 'b_ab', 'b_r', 'b_h', 'b_2b', 'b_3b', 'b_hr', 'b_rbi',
       'b_bb', 'b_ibb', 'b_so', 'b_gdp', 'b_hp', 'b_sh', 'b_sf', 'b_sb',
       'b_cs', 'b_xi', 'p_g', 'p_gs', 'p_cg', 'p_sho', 'p_gf', 'p_w', 'p_l',
       'p_sv', 'p_out', 'p_tbf', 'p_ab', 'p_r', 'p_er', 'p_h', 'p_2b', 'p_3b',
       'p_hr', 'p_bb', 'p_ibb', 'p_so', 'p_gdp', 'p_hp', 'p_sh', 'p_sf',
       'p_xi', 'p_wp', 'p_bk', 'f_po', 'f_a', 'f_e', 'player_id_lahman',
       'retro_id'],
      dtype='object')

In [232]:
col_names = {'player_id_retrosheet':'player_id'}
player_game = player_game.rename(columns=col_names)
player_game = player_game.drop('retro_id', axis= 1)
player_game.columns

Index(['game_id', 'game_dt', 'game_ct', 'team_id', 'player_id', 'b_g', 'b_pa',
       'b_ab', 'b_r', 'b_h', 'b_2b', 'b_3b', 'b_hr', 'b_rbi', 'b_bb', 'b_ibb',
       'b_so', 'b_gdp', 'b_hp', 'b_sh', 'b_sf', 'b_sb', 'b_cs', 'b_xi', 'p_g',
       'p_gs', 'p_cg', 'p_sho', 'p_gf', 'p_w', 'p_l', 'p_sv', 'p_out', 'p_tbf',
       'p_ab', 'p_r', 'p_er', 'p_h', 'p_2b', 'p_3b', 'p_hr', 'p_bb', 'p_ibb',
       'p_so', 'p_gdp', 'p_hp', 'p_sh', 'p_sf', 'p_xi', 'p_wp', 'p_bk', 'f_po',
       'f_a', 'f_e', 'player_id_lahman'],
      dtype='object')

### Add Lahman team_id
This will make joins to the Lahman data easier.

The Lahman team_id can be found from the year and retrosheet team_id.

In [233]:
# get the teams data
os.chdir(p_lahman_wrangled)
teams = bb.from_csv_with_types('teams.csv')

In [234]:
# also add year to player_game
player_game['year'] = player_game['game_dt'].apply(lambda x: x // 10000)

In [235]:
# add player_id from Lahman people
player_game = pd.merge(player_game, teams, 
                        left_on = ['year', 'team_id'], right_on = ['year', 'team_id_retro'],
                        suffixes=['_retrosheet', '_lahman'])
player_game.columns

Index(['game_id', 'game_dt', 'game_ct', 'team_id_retrosheet', 'player_id',
       'b_g', 'b_pa', 'b_ab', 'b_r', 'b_h', 'b_2b', 'b_3b', 'b_hr', 'b_rbi',
       'b_bb', 'b_ibb', 'b_so', 'b_gdp', 'b_hp', 'b_sh', 'b_sf', 'b_sb',
       'b_cs', 'b_xi', 'p_g', 'p_gs', 'p_cg', 'p_sho', 'p_gf', 'p_w', 'p_l',
       'p_sv', 'p_out', 'p_tbf', 'p_ab', 'p_r', 'p_er', 'p_h', 'p_2b', 'p_3b',
       'p_hr', 'p_bb', 'p_ibb', 'p_so', 'p_gdp', 'p_hp', 'p_sh', 'p_sf',
       'p_xi', 'p_wp', 'p_bk', 'f_po', 'f_a', 'f_e', 'player_id_lahman',
       'year', 'team_id_lahman', 'team_id_retro'],
      dtype='object')

In [236]:
(player_game['team_id_retrosheet'] == player_game['team_id_retro']).all()

True

In [237]:
col_names = {'team_id_retrosheet':'team_id'}
player_game = player_game.rename(columns=col_names)
player_game = player_game.drop('team_id_retro', axis= 1)
player_game.columns

Index(['game_id', 'game_dt', 'game_ct', 'team_id', 'player_id', 'b_g', 'b_pa',
       'b_ab', 'b_r', 'b_h', 'b_2b', 'b_3b', 'b_hr', 'b_rbi', 'b_bb', 'b_ibb',
       'b_so', 'b_gdp', 'b_hp', 'b_sh', 'b_sf', 'b_sb', 'b_cs', 'b_xi', 'p_g',
       'p_gs', 'p_cg', 'p_sho', 'p_gf', 'p_w', 'p_l', 'p_sv', 'p_out', 'p_tbf',
       'p_ab', 'p_r', 'p_er', 'p_h', 'p_2b', 'p_3b', 'p_hr', 'p_bb', 'p_ibb',
       'p_so', 'p_gdp', 'p_hp', 'p_sh', 'p_sf', 'p_xi', 'p_wp', 'p_bk', 'f_po',
       'f_a', 'f_e', 'player_id_lahman', 'year', 'team_id_lahman'],
      dtype='object')

In [238]:
# downcast the new columns
player_game = bb.optimize_df_dtypes(player_game)
player_game.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3549699 entries, 0 to 3549698
Data columns (total 57 columns):
game_id             object
game_dt             uint32
game_ct             uint8
team_id             object
player_id           object
b_g                 uint8
b_pa                uint8
b_ab                uint8
b_r                 uint8
b_h                 uint8
b_2b                uint8
b_3b                uint8
b_hr                uint8
b_rbi               uint8
b_bb                uint8
b_ibb               uint8
b_so                uint8
b_gdp               uint8
b_hp                uint8
b_sh                uint8
b_sf                uint8
b_sb                uint8
b_cs                uint8
b_xi                uint8
p_g                 uint8
p_gs                uint8
p_cg                uint8
p_sho               uint8
p_gf                uint8
p_w                 uint8
p_l                 uint8
p_sv                uint8
p_out               uint8
p_tbf               uint8
p_ab                uint8
p_r                 uint8
p_er                uint8
p_h                 uint8
p_2b                uint8
p_3b                uint8
p_hr                uint8
p_bb                uint8
p_ibb               uint8
p_so                uint8
p_gdp               uint8
p_hp                uint8
p_sh                uint8
p_sf                uint8
p_xi                uint8
p_wp                uint8
p_bk                uint8
f_po                uint8
f_a                 uint8
f_e                 uint8
player_id_lahman    object
year                uint16
team_id_lahman      object
dtypes: object(5), uint16(1), uint32(1), uint8(50)
memory usage: 352.1+ MB

In [239]:
os.chdir(p_wrangled)
%time bb.to_csv_with_types(player_game, 'player_game.csv.gz')

CPU times: user 2min 56s, sys: 14.5 ms, total: 2min 56s
Wall time: 2min 56s

## 2. Wrangle Stats per Game Data

In [279]:
os.chdir(p_collected)
game = bb.from_csv_with_types('game.csv.gz')

In [280]:
# attendance can never be less than 1
na_data = (game['attend_park_ct'].astype('int') < 1)
game.loc[na_data, 'attend_park_ct'].value_counts()

 0    5009
-1       1
Name: attend_park_ct, dtype: int64

In [281]:
# arguably, if the public is not permitted attend, the attendance is null, not zero
# click on generated link to read about this game
game_id_no_public = 'BAL201504290'
bb.game_id_to_url(game_id_no_public)

In [282]:
game[game['game_id'] == game_id_no_public]['attend_park_ct']

120380    0
Name: attend_park_ct, dtype: int64

In [283]:
# replace 0, -1 values with nan
game['attend_park_ct'] = game['attend_park_ct'].replace([0, -1], np.nan)

In [284]:
# MLB games never have a temp, in Fahrenheit, less than 1F
na_data = (game['temp_park_ct'].astype('int') < 1)
game.loc[na_data, 'temp_park_ct'].value_counts()

 0    49108
-1       85
Name: temp_park_ct, dtype: int64

In [285]:
# replace these values with nan
game['temp_park_ct'] = game['temp_park_ct'].replace([0, -1], np.nan)

In [286]:
game.head(3)

,game_id,game_dt,game_ct,game_dy,start_game_tm,dh_fl,daynight_park_cd,away_team_id,home_team_id,park_id,...,home_pitcher_ct,home_er_ct,home_ter_ct,home_wp_ct,home_bk_ct,home_po_ct,home_a_ct,home_pb_ct,home_dp_ct,home_tp_ct
0,BAL195504120,19550412,0,Tuesday,0,F,D,BOS,BAL,BAL11,...,3,6,6,0,0,27,12,0,2,0
1,BAL195504180,19550418,0,Monday,0,F,N,NYA,BAL,BAL11,...,3,4,4,0,0,27,9,0,2,0
2,BAL195504220,19550422,0,Friday,0,F,N,WS1,BAL,BAL11,...,2,2,2,0,0,27,12,0,1,0

In [287]:
# the primary key is (game_id), verify no dups
game['game_id'].is_unique

True

In [288]:
ump_cols = [col for col in game.columns if 'ump' in col]
ump_cols

['base4_ump_id',
 'base1_ump_id',
 'base2_ump_id',
 'base3_ump_id',
 'lf_ump_id',
 'rf_ump_id']

In [289]:
record_cols = [col for col in game.columns if 'record' in col]
record_cols

['scorer_record_id',
 'translator_record_id',
 'inputter_record_id',
 'input_record_ts',
 'edit_record_ts',
 'method_record_cd',
 'pitches_record_cd']

In [290]:
park_cols = [col for col in game.columns if 'park' in col]
park_cols

['daynight_park_cd',
 'park_id',
 'attend_park_ct',
 'temp_park_ct',
 'wind_direction_park_cd',
 'wind_speed_park_ct',
 'field_park_cd',
 'precip_park_cd',
 'sky_park_cd']

In [291]:
tx_cols = [col for col in game.columns if 'tx' in col]
tx_cols

['completion_tx', 'forfeit_tx', 'protest_tx', 'away_line_tx', 'home_line_tx']

In [292]:
team_game_ct_cols = [col for col in game.columns if col.endswith('team_game_ct')]
team_game_ct_cols

['away_team_game_ct', 'home_team_game_ct']

In [293]:
# these columns will not be used in the analysis
drop_cols = ump_cols + record_cols + park_cols[4:] + tx_cols + team_game_ct_cols
drop_cols

['base4_ump_id',
 'base1_ump_id',
 'base2_ump_id',
 'base3_ump_id',
 'lf_ump_id',
 'rf_ump_id',
 'scorer_record_id',
 'translator_record_id',
 'inputter_record_id',
 'input_record_ts',
 'edit_record_ts',
 'method_record_cd',
 'pitches_record_cd',
 'wind_direction_park_cd',
 'wind_speed_park_ct',
 'field_park_cd',
 'precip_park_cd',
 'sky_park_cd',
 'completion_tx',
 'forfeit_tx',
 'protest_tx',
 'away_line_tx',
 'home_line_tx',
 'away_team_game_ct',
 'home_team_game_ct']

In [294]:
game = game.drop(drop_cols, axis=1)

In [295]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129846 entries, 0 to 129845
Data columns (total 83 columns):
game_id                129846 non-null object
game_dt                129846 non-null uint32
game_ct                129846 non-null uint8
game_dy                129846 non-null object
start_game_tm          129846 non-null uint16
dh_fl                  129846 non-null object
daynight_park_cd       129846 non-null object
away_team_id           129846 non-null object
home_team_id           129846 non-null object
park_id                129846 non-null object
away_start_pit_id      129846 non-null object
home_start_pit_id      129846 non-null object
attend_park_ct         124836 non-null float64
temp_park_ct           80653 non-null float64
minutes_game_ct        129846 non-null uint16
inn_ct                 129846 non-null uint8
away_score_ct          129846 non-null uint8
home_score_ct          129846 non-null uint8
away_hits_ct           129846 non-null uint8
home_hits_ct           129846 non-null uint8
away_err_ct            129846 non-null uint8
home_err_ct            129846 non-null uint8
away_lob_ct            129846 non-null uint8
home_lob_ct            129846 non-null uint8
win_pit_id             129737 non-null object
lose_pit_id            129737 non-null object
save_pit_id            59321 non-null object
gwrbi_bat_id           16961 non-null object
away_finish_pit_id     113930 non-null object
home_finish_pit_id     111785 non-null object
away_team_league_id    129846 non-null object
home_team_league_id    129846 non-null object
outs_ct                129846 non-null uint8
away_ab_ct             129846 non-null uint8
away_2b_ct             129846 non-null uint8
away_3b_ct             129846 non-null uint8
away_hr_ct             129846 non-null uint8
away_bi_ct             129846 non-null uint8
away_sh_ct             129846 non-null uint8
away_sf_ct             129846 non-null uint8
away_hp_ct             129846 non-null uint8
away_bb_ct             129846 non-null uint8
away_ibb_ct            129846 non-null uint8
away_so_ct             129846 non-null uint8
away_sb_ct             129846 non-null uint8
away_cs_ct             129846 non-null uint8
away_gdp_ct            129846 non-null uint8
away_xi_ct             129846 non-null uint8
away_pitcher_ct        129846 non-null uint8
away_er_ct             129846 non-null uint8
away_ter_ct            129846 non-null uint8
away_wp_ct             129846 non-null uint8
away_bk_ct             129846 non-null uint8
away_po_ct             129846 non-null uint8
away_a_ct              129846 non-null uint8
away_pb_ct             129846 non-null uint8
away_dp_ct             129846 non-null uint8
away_tp_ct             129846 non-null uint8
home_ab_ct             129846 non-null uint8
home_2b_ct             129846 non-null uint8
home_3b_ct             129846 non-null uint8
home_hr_ct             129846 non-null uint8
home_bi_ct             129846 non-null uint8
home_sh_ct             129846 non-null uint8
home_sf_ct             129846 non-null uint8
home_hp_ct             129846 non-null uint8
home_bb_ct             129846 non-null uint8
home_ibb_ct            129846 non-null uint8
home_so_ct             129846 non-null uint8
home_sb_ct             129846 non-null uint8
home_cs_ct             129846 non-null uint8
home_gdp_ct            129846 non-null uint8
home_xi_ct             129846 non-null uint8
home_pitcher_ct        129846 non-null uint8
home_er_ct             129846 non-null uint8
home_ter_ct            129846 non-null uint8
home_wp_ct             129846 non-null uint8
home_bk_ct             129846 non-null uint8
home_po_ct             129846 non-null uint8
home_a_ct              129846 non-null uint8
home_pb_ct             129846 non-null uint8
home_dp_ct             129846 non-null uint8
home_tp_ct             129846 non-null uint8
dtypes: float64(2), object(17), uint16(2), uint32(1), uint8(61)
memory usage: 27.4+ MB

### Reverse Engineer am/pm for start_game_tm

1. am/pm is not specified.
2. The time is not in 24-hour format
3. The time is an integer, not a string.  For example, 1259 means 12:59.
4. A value of zero means the game start time is unknown.
5. The daynight_park_cd is never missing.  This specifies whether the game started in "day" or at "night".
6. MLB domain knowledge: Some games may start late, due to a rain delay for example, but games never start after midnight.
7. MLB domain knowledge: Some games may start early, to allow for travel to the next city, but games never start before 9 am.

Given the above, am/pm can be deduced as follows:
* start_game_tm == 0 => use midnight (to represent unknown time)
* start_game_tm >= 1200 => pm
* start_game_tm < 900 => pm
* 900 <= start_game_tm < 1200, and day/night = day, => am
* 900 <= start_game_tm < 1200, and day/night = night, => pm

In [296]:
def parse_datetime(row):
    date = row['game_dt']
    time = row['start_game_tm']
    day_night = row['daynight_park_cd']
    
    if time > 0 and time < 900:
        time += 1200
    elif (900 <= time < 1200) and day_night == 'N':
        time += 1200

    time_str = f'{time//100:02d}:{time%100:02d}'
    datetime_str = str(date) + ' ' + time_str
    return pd.to_datetime(datetime_str, format='%Y%m%d %H:%M')

In [297]:
# create new datetime column
game['game_date'] = game.apply(parse_datetime, axis=1)

In [299]:
game.tail(3)

,game_id,game_dt,game_ct,game_dy,start_game_tm,dh_fl,daynight_park_cd,away_team_id,home_team_id,park_id,...,home_er_ct,home_ter_ct,home_wp_ct,home_bk_ct,home_po_ct,home_a_ct,home_pb_ct,home_dp_ct,home_tp_ct,game_date
129843,WAS201809240,20180924,0,Monday,706,F,N,MIA,WAS,WAS11,...,2,2,1,0,27,10,0,0,0,2018-09-24 19:06:00
129844,WAS201809250,20180925,0,Tuesday,705,F,N,MIA,WAS,WAS11,...,3,3,0,0,27,3,0,0,0,2018-09-25 19:05:00
129845,WAS201809260,20180926,0,Wednesday,405,F,D,MIA,WAS,WAS11,...,3,3,0,0,21,6,0,0,0,2018-09-26 16:05:00

In [300]:
os.chdir(p_wrangled)
%time bb.to_csv_with_types(game, 'game.csv.gz')

CPU times: user 15.9 s, sys: 3.06 ms, total: 15.9 s
Wall time: 15.9 s

## 3. Scrape Data for Players Lookup Table

player_id to player information is needed.

This data is similar to Lahman's People.csv data, but it has different fields.

There is no separate file for this.  It will be scraped from a web page.

In [301]:
import requests
import pandas as pd
from io import StringIO
from bs4 import BeautifulSoup

In [302]:
# get the web page
r = requests.get("https://www.retrosheet.org/retroID.htm")
soup = BeautifulSoup(r.content, 'lxml')

# data is within the pre tag
table_txt = soup.pre.string

# remove unnecessary double quotes
table_txt = table_txt.replace('"','')

In [303]:
# read from this string instead of file
players = pd.read_csv(StringIO(table_txt), 
    parse_dates=['Play debut', 'Mgr debut', 'Ump debut'])

In [304]:
# Coach debut has some bad values
def parse_date(value):
    # perhaps 43188 means 04/31/1988, but use null as unsure
    # no coach debuted prior to the year 1800
    if pd.isna(value) or value == '43188' or int(value[-4:]) < 1800:
        return pd.NaT
    else:
        return pd.datetime.strptime(value, '%m/%d/%Y')

In [305]:
players['Coach debut'] = players['Coach debut'].apply(parse_date)
players.head()

         ID     Last   First Play debut Mgr debut Coach debut Ump debut
0  aardd001  Aardsma   David 2004-04-06       NaT         NaT       NaT
1  aaroh101    Aaron    Hank 1954-04-13       NaT         NaT       NaT
2  aarot101    Aaron  Tommie 1962-04-10       NaT  1979-04-06       NaT
3  aased001     Aase     Don 1977-07-26       NaT         NaT       NaT
4  abada001     Abad    Andy 2001-09-10       NaT         NaT       NaT

In [306]:
name_chg = {'ID':'player_id',
         'Last':'last',
         'First':'first',
         'Play debut':'player_debut',
         'Mgr debut':'mgr_debut',
         'Coach debut': 'coach_debut',
         'Ump debut':'ump_debut'}
players = players.rename(columns=name_chg)
players.head()

  player_id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   2004-04-06       NaT         NaT       NaT
1  aaroh101    Aaron    Hank   1954-04-13       NaT         NaT       NaT
2  aarot101    Aaron  Tommie   1962-04-10       NaT  1979-04-06       NaT
3  aased001     Aase     Don   1977-07-26       NaT         NaT       NaT
4  abada001     Abad    Andy   2001-09-10       NaT         NaT       NaT

#### Persist Players

In [307]:
os.chdir(p_wrangled)
bb.to_csv_with_types(players, 'players.csv')

## 4. Scrape Data for Stadium (Park) Lookup Table

park_id to park information is needed.  

This data is similar to Lahman's Parks.csv, but has different fields.

There is no separate file for this.  It will be scraped from a web page.

In [308]:
# get the web page (this is not html!)
r = requests.get("https://www.retrosheet.org/parkcode.txt")

table_txt = r.content.decode("utf-8")

# read from this string instead of file
parks = pd.read_csv(StringIO(table_txt), parse_dates=['START', 'END'])

In [309]:
parks.columns = parks.columns.str.lower()
parks = parks.rename(columns={'parkid':'park_id'})
parks.head()

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,1880-09-11,1882-05-30,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,1884-04-30,1884-05-31,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,1966-04-19,NaT,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,1972-04-21,1993-10-03,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,1994-04-11,NaT,AL,NaN

#### Persist Stadiums

In [310]:
os.chdir(p_wrangled)
bb.to_csv_with_types(parks, 'parks.csv')