# Retrosheet Baseball Data -- Persist to Postgres

**Baseball Notebooks**  
1. Downloaded and unzipped baseball data.
2. Helper functions and their motivation for use.
3. Lahman data was wrangled and persisted.
4. Retrosheet Play by Play data was parsed, collected into 2 DataFrames, and persisted.
5. Wrangle the Retrosheet data in preparation for data analysis.
6. This notebook.

Load the wrangled Retrosheet data into Postgres.

This notebook is designed to be used with Jupyter Lab and the Table of Contents extension.  
https://github.com/jupyterlab/jupyterlab-toc

## Repeatable Research
All data processing should be documented so that others can repeat the results.  This includes every step from downloading the data through analysis.

In [1]:
import pandas as pd
import numpy as np
import os
import re
from pathlib import Path

In [2]:
# see Baseball Notebook #2
import helper_functions as bb

In [3]:
# create path objects -- these directories were created in the previous notebook
home = Path.home()
retrosheet = home.joinpath('data/retrosheet')
p_wrangled = retrosheet.joinpath('wrangled')

## Working with Postgres

1. The Postgres server should be installed and running.
2. The retrosheet schema should exist.
3. The ipython/Jupyter Lab SQL magic extension should be installed. See:  
https://github.com/catherinedevlin/ipython-sql

In [4]:
from sqlalchemy.engine import create_engine
from sqlalchemy.types import SmallInteger, Integer, BigInteger
from IPython.display import HTML, display

### Connect to DB

conn = create_engine(connect_str)

Using conn.execute(query), with conn created as above (i.e. a SQL Alchemy engine), will:
1. cause a DB connection object to be allocated for use
2. will use that connection object to execute the query
3. will commit any data changes
4. will release that connection object back to the open connection pool

For transaction processing, using the Python DB API, with SQL Alchemy, use:  
```connection = create_engine(connect_str).connect()```

In [5]:
# Get the user and password from the environment (rather than hardcoding it)
import os
db_user = os.environ.get('DB_USER')
db_pass = os.environ.get('DB_PASS')

# avoid putting passwords directly in code
connect_str = f'postgresql://{db_user}:{db_pass}@localhost:5432/baseball'

# treat sql alchmey engine as a connection to the database
conn = create_engine(connect_str)

## psql

Use the following to run psql commands from a Jupyter Code cell.

This will connect, execute, and disconnect from the database.

For this to work without a password, a .pgpass file is necessary.  
See: https://www.postgresql.org/docs/11/libpq-pgpass.html    

The .pgpass file should look like:  
```localhost:5432:*:<user>:<passwd>```

In [6]:
def psql(cmd, user='postgres', schema='baseball'):
    psql_out = !psql -H -U {user} {schema} -c "{cmd}"
    display(HTML(''.join(psql_out)))

In [7]:
!psql --version

psql (PostgreSQL) 11.2 (Ubuntu 11.2-1.pgdg18.04+1)

## 1. Player Game to Postgres

### Load into Postgres

df.to_sql() is a convenient method to load data into a database table, as well as create the schema for that table, if the table does not exist.

However for large amounts of data, most database systems offer a "bulk copy" that is much faster than any other method of loading data.

The "create table" feature of df.to_sql() will be used here. 

For Postgres, the "bulk copy" is called COPY and can be run from the psql command line.

In [8]:
os.chdir(p_wrangled)

# just read in 10 rows
player_game = bb.from_csv_with_types('player_game.csv.gz', nrows=10)
player_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 57 columns):
game_id             10 non-null object
player_id           10 non-null object
team_id             10 non-null object
year_id             10 non-null uint16
player_id_lahman    10 non-null object
team_id_lahman      10 non-null object
game_dt             10 non-null uint32
game_ct             10 non-null uint8
b_g                 10 non-null uint8
b_pa                10 non-null uint8
b_ab                10 non-null uint8
b_r                 10 non-null uint8
b_h                 10 non-null uint8
b_2b                10 non-null uint8
b_3b                10 non-null uint8
b_hr                10 non-null uint8
b_rbi               10 non-null uint8
b_bb                10 non-null uint8
b_ibb               10 non-null uint8
b_so                10 non-null uint8
b_gdp               10 non-null uint8
b_hp                10 non-null uint8
b_sh                10 non-null uint8
b_sf                10 non-null uint8
b_sb                10 non-null uint8
b_cs                10 non-null uint8
b_xi                10 non-null uint8
p_g                 10 non-null uint8
p_gs                10 non-null uint8
p_cg                10 non-null uint8
p_sho               10 non-null uint8
p_gf                10 non-null uint8
p_w                 10 non-null uint8
p_l                 10 non-null uint8
p_sv                10 non-null uint8
p_out               10 non-null uint8
p_tbf               10 non-null uint8
p_ab                10 non-null uint8
p_r                 10 non-null uint8
p_er                10 non-null uint8
p_h                 10 non-null uint8
p_2b                10 non-null uint8
p_3b                10 non-null uint8
p_hr                10 non-null uint8
p_bb                10 non-null uint8
p_ibb               10 non-null uint8
p_so                10 non-null uint8
p_gdp               10 non-null uint8
p_hp                10 non-null uint8
p_sh                10 non-null uint8
p_sf                10 non-null uint8
p_xi                10 non-null uint8
p_wp                10 non-null uint8
p_bk                10 non-null uint8
f_po                10 non-null uint8
f_a                 10 non-null uint8
f_e                 10 non-null uint8
dtypes: object(5), uint16(1), uint32(1), uint8(50)
memory usage: 1.0+ KB

In [9]:
dtypes = bb.optimize_db_dtypes(player_game)

In [10]:
# drop the table to ensure that r_player_game data types are updated as necessary
conn.execute('DROP TABLE IF EXISTS r_player_game');

In [11]:
# copy over a few rows to create the table with the proper datatypes
player_game.to_sql('r_player_game', conn, index=False, dtype=dtypes)

In [12]:
type(conn)

sqlalchemy.engine.base.Engine

In [13]:
# when conn is a SQL Alchemy engine, the changes will be committed automatically
conn.execute('DELETE FROM r_player_game');

In [14]:
rs = conn.execute('SELECT COUNT(*) FROM r_player_game')
rs.fetchall()

[(0,)]

In [15]:
# verify we are in correct directory and have zcat
# Shoule see about 3.5 million records for 1955 to 2018
!zcat player_game.csv.gz | wc -l

3549700

In [16]:
# psql command to copy gzipped csv file to postgres table
cmd="\copy r_player_game from program 'zcat player_game.csv.gz' CSV HEADER"

In [17]:
# this is MUCH faster than using df.to_sql()
%time psql(cmd)

CPU times: user 2.49 ms, sys: 5.96 ms, total: 8.45 ms
Wall time: 11.4 s

In [18]:
# add primary key constraint
sql = 'ALTER TABLE r_player_game ADD PRIMARY KEY (player_id, game_id)'
conn.execute(sql);

In [19]:
# describe player_game table
psql('\d r_player_game')

## 2. Player Game Data Dictionary to Postgres

In [20]:
os.chdir(p_wrangled)
player_game_fields = pd.read_csv('player_game_fields.csv')

In [21]:
# drop table and have df.to_sql create it
conn.execute('DROP TABLE IF EXISTS r_player_game_fields');
player_game_fields.to_sql('r_player_game_fields', conn, index=False)

In [22]:
# verify df.to_sql worked
rs = conn.execute("SELECT * FROM r_player_game_fields")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df

,game_id,game_dt,game_ct,appear_dt,team_id,player_id,b_g,b_pa,b_ab,b_r,...,f_cf_e,f_cf_dp,f_cf_tp,f_rf_g,f_rf_out,f_rf_po,f_rf_a,f_rf_e,f_rf_dp,f_rf_tp
0,game id,date,game number (0 = no double header),apperance date,team id,player id,games played,plate appearances,at bats,runs,...,errors at CF,double plays at CF,triple plays at CF,games at RF,outs recorded at RF (innings fielded times 3),putouts at RF,assists at RF,errors at RF,double plays at RF,triple plays at RF

## 3. Game to Postgres

In [23]:
os.chdir(p_wrangled)

# just read in 10 rows
game = bb.from_csv_with_types('game.csv.gz', nrows=10)
dtypes = bb.optimize_db_dtypes(game)

In [24]:
# drop the table and have df.to_sql create it
conn.execute('DROP TABLE IF EXISTS r_game');
game.to_sql('r_game', conn, dtype=dtypes, index=False)

In [25]:
# delete the few rows as \copy will be used instead
conn.execute('DELETE FROM r_game');

In [26]:
rs = conn.execute('SELECT COUNT(*) FROM r_game')
rs.fetchall()

[(0,)]

In [27]:
# psql command to copy gzipped csv file to postgres table
cmd="\copy r_game from program 'zcat game.csv.gz' CSV HEADER"

In [28]:
# this is MUCH faster than using df.to_sql()
%time psql(cmd)

CPU times: user 3.92 ms, sys: 7.13 ms, total: 11.1 ms
Wall time: 366 ms

In [29]:
# add primary key constraint
sql = 'ALTER TABLE r_game ADD PRIMARY KEY (game_id)'
conn.execute(sql);

In [30]:
psql('\d r_game')

## 4. Team_Game to Postgres

In [31]:
os.chdir(p_wrangled)

# just read in 10 rows
team_game = bb.from_csv_with_types('team_game.csv.gz', nrows=10)
dtypes = bb.optimize_db_dtypes(team_game)

In [32]:
# drop the table and have df.to_sql create it
conn.execute('DROP TABLE IF EXISTS r_team_game');
team_game.to_sql('r_team_game', conn, dtype=dtypes, index=False)

In [33]:
# delete the few rows as \copy will be used instead
conn.execute('DELETE FROM r_team_game');

In [34]:
rs = conn.execute('SELECT COUNT(*) FROM r_team_game')
rs.fetchall()

[(0,)]

In [35]:
# psql command to copy gzipped csv file to postgres table
cmd="\copy r_team_game from program 'zcat team_game.csv.gz' CSV HEADER"

In [36]:
# this is MUCH faster than using df.to_sql()
%time psql(cmd)

CPU times: user 4.78 ms, sys: 4.97 ms, total: 9.76 ms
Wall time: 934 ms

In [37]:
# add primary key constraint
sql = 'ALTER TABLE r_team_game ADD PRIMARY KEY (game_id, team_id)'
conn.execute(sql);

In [38]:
psql('\d r_team_game')

## 5. Game Data Dictionary to Postgres

In [39]:
os.chdir(p_wrangled)
game_fields = pd.read_csv('game_fields.csv')

In [40]:
# drop table and have df.to_sql create it
conn.execute('DROP TABLE IF EXISTS r_game_fields');
game_fields.to_sql('r_game_fields', conn, index=False)

In [41]:
# verify df.to_sql worked
rs = conn.execute("SELECT * FROM r_game_fields")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df

,game_id,game_dt,game_ct,game_dy,start_game_tm,dh_fl,daynight_park_cd,away_team_id,home_team_id,park_id,...,home_lineup2_bat_name_tx,home_lineup3_bat_name_tx,home_lineup4_bat_name_tx,home_lineup5_bat_name_tx,home_lineup6_bat_name_tx,home_lineup7_bat_name_tx,home_lineup8_bat_name_tx,home_lineup9_bat_name_tx,add_info_tx,acq_info_tx
0,game id,date,game number (0 = no double header),day of week,start time,DH used flag,day/night flag,visiting team,home team,game site,...,home batter 2 name,home batter 3 name,home batter 4 name,home batter 5 name,home batter 6 name,home batter 7 name,home batter 8 name,home batter 9 name,additional information,acquisition information

## 6. Players to Postgres

Note: this is the Retrosheet players file, not the Lahman people file.

In [42]:
os.chdir(p_wrangled)
players = bb.from_csv_with_types('players.csv')
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20754 entries, 0 to 20753
Data columns (total 7 columns):
player_id       20754 non-null object
last            20754 non-null object
first           20688 non-null object
player_debut    19429 non-null datetime64[ns]
mgr_debut       707 non-null datetime64[ns]
coach_debut     1608 non-null datetime64[ns]
ump_debut       1549 non-null datetime64[ns]
dtypes: datetime64[ns](4), object(3)
memory usage: 1.1+ MB

In [43]:
conn.execute('DROP TABLE IF EXISTS r_players');
players.to_sql('r_players', conn, index=False)

In [44]:
# verify df.to_sql worked
rs = conn.execute("SELECT * FROM r_players LIMIT 3")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df

  player_id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   2004-04-06      None         NaT      None
1  aaroh101    Aaron    Hank   1954-04-13      None         NaT      None
2  aarot101    Aaron  Tommie   1962-04-10      None  1979-04-06      None

In [45]:
psql('\d r_players')

## 7. Stadium (Parks) to Postgres

Note: this is the Rertosheet parks file, not the Lahman parks file.

In [46]:
os.chdir(p_wrangled)
parks = bb.from_csv_with_types('parks.csv')
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 9 columns):
park_id    252 non-null object
name       252 non-null object
aka        56 non-null object
city       252 non-null object
state      252 non-null object
start      252 non-null datetime64[ns]
end        222 non-null datetime64[ns]
league     187 non-null object
notes      128 non-null object
dtypes: datetime64[ns](2), object(7)
memory usage: 17.8+ KB

In [47]:
# as before, drop the table to ensure data types are choosen by Pandas
conn.execute('DROP TABLE IF EXISTS r_parks');
parks.to_sql('r_parks', conn, index=False)

In [48]:
# verify df.to_sql worked
rs = conn.execute("SELECT * FROM r_parks LIMIT 3")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,None,Albany,NY,1880-09-11,1882-05-30,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,1884-04-30,1884-05-31,UA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,1966-04-19,NaT,AL,None

In [49]:
psql('\d r_parks')